.error{
  position: absolute;
  gap: 5px;
  left: 50%;
  top: 60px;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  background-color: #f73232;
  color: white;
  padding: 10px 5px;
  font-size: 16px;
  font-family: Inter,Arial,sans-serif;
  border-radius: 4px;
}

.labelError{
  font-weight: 900;
}

.icon{
  color: white;
  cursor: pointer;
}