.container{
  width: 100%;
  font-family: Inter,Arial,sans-serif;
  color: #555555;
}

.label{
  color: black;
  font-weight: 900;
}

.textContainer{
  width: 100%;
  min-height: 18px;
  //max-width: 45%;
  //font-weight: 500;
  background-color: #d3ebff;
  border-radius: 5px;
  padding: 5px;
}