@import "../../../style";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 60px;
    height: 32px;
    border-bottom: 1px solid themed("border");
    background-color: themed("bg");
    color:themed("textColor");
    font-family: Inter,Arial,sans-serif;

    .container{
      width: 100%;
      max-width: 1400px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        display: flex;
        align-items: center;
        gap: 30px;
      }

      #route{
        @include tablet{
          display: none;
        }
      }

      .right {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 20px;

        @include tablet{
          display: none;
        }

        .linkToMap{
          color: themed("textColor");
          cursor: pointer;
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 5px;
        }

        .loginButton{
          cursor: pointer;
          background-color: #f73232;
          font-weight: 900;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          border-radius: 5px;
          height: 36px;
          width: 65px;
          border: #f73232 solid 1px;
        }
        .loginButton:hover{
          background-color: white;
          color: #f73232;
        }
      }
    }
  }
}